.projectList {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2.5% 0 2.5%;
    flex-wrap: wrap;
}


.projectCard {
    margin: 2.5%;
    min-height: 15%;
    width: 25%;
    background-color: black
}

img {
    width: 100%
}