.page-header {
    padding-top: 4%;
}

.page-element {
    display: flex;
    justify-content: center;
}

.page-headshot {
    width: 20%;
    height: 20%;
}

.page-content {
    margin-left: 10%;
    margin-right: 10%;
}

.page-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#content-link {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    height:100px;
    width:100px;
}

#content-link:hover {
    top: -10px;
}