.navBar {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    background: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:2;
}

/* Each card used on the site */
.navItem {
    color: white;
    padding: 5px;
    margin: 5px;
}

.navItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.active {
    color: blue;
}

a:link {
    text-decoration: none;
}